<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>

<body>
    <div style="padding-left: 20%; padding-right: 20%; padding-top: 8%; padding-bottom: 8%;">
        <form ng-submit="createEntry()" >
            <div class="mt-3">
                <div class="row">
                    <div class="col-md-3">
                        <label for="trDate" class="form-label">Upload Date</label>
                        <input type="date" ng-model="trDate" class="form-control" required>
                    </div>
                    <div class="offset-md-1 col-md-8">
                        <label for="name" class="form-label">Title</label>
                        <input type="text" ng-model="name" class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <div class="row">
                    <div class="col-md-3">
                        <label for="Dob" class="form-label">Video Date</label>
                        <input type="date" ng-model="date" class="form-control" required>
                    </div>
                    <div class="offset-md-1 col-md-8">
                        <label for="orVal" class="form-label">Revenue</label>
                        <input type="number" ng-model="orVal" class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <div class="row">
                    <div class="col-md-3">
                        <label for="gender" class="form-label mt-md-3">Genre</label> <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gen" ng-model="gender" value="comedy" required>
                            <label class="form-check-label" for="">Comedy</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gen" ng-model="gender" value="drama" required>
                            <label class="form-check-label" for="">Drama</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gen" ng-model="gender" value="shonen" required>
                            <label class="form-check-label" for="">Shonen</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gen" ng-model="gender" value="horror" required>
                            <label class="form-check-label" for="">Horror</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gen" ng-model="gender" value="romance" required>
                            <label class="form-check-label" for="">Romance</label>
                        </div>
                    </div>
                    <div class="offset-md-1 col-md-8">
                        <div class="mb-3">
                            <label for="" class="form-label">Order Status</label>
                            <select class="form-select form-select-lg" ng-model="orSt" id="" required>
                                <option selected disabled value="">Select one</option>
                                <option value="completed">Completed</option>
                                <option value="failed">Failed</option>
                                <option value="dropped">Dropped</option>
                                <option value="violation">Violation</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5 d-flex justify-content-center">
                <input type="submit" value="Create" class="btn btn-success">
            </div>
        </form>
    </div>
</body>

</html>